@model IEnumerable<EstrelaDaMorte_MVC.Models.Nave>


@{
    ViewData["Title"] = "Advanced Search";
}

<form asp-controller="Naves" asp-action="GetDet" method="get">
    <p>
        Nave: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passageiros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
